@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

span {
    color: steelblue;
    margin-left: auto;
    position: relative;
    z-index: 5;
    display: inline-block;
    min-width: 40px;
    padding-right: 4px;
    padding-left: 4px;
    -webkit-box-sizing: border-box;
    -webkit-user-select: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
}

.pagi:hover{
    color: red;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    }

div.col {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}



span.Prever {
    color: steelblue;
    padding-right: 50px;
}

span.Prever:hover {
    color: red;
}

span.Nexter {
    color: steelblue;
    padding-left: 50px;
}

span.Nexter:hover {
    color: red;
}

.EditButton, .AddButton, .DeleteButton {
    width: 50px;
}


