.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Hambureger line*/

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* Top and bottom lines */
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after
    {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

/* Moves line down */
.menu-wrap .hamburger >div::after{
    top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turn lines into X */
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after{
        top: 0;
        transform: rotate(90deg);
    }
/* Rotate on hover when checked */
    .menu-wrap .toggler:checked:hover + .hamburger > div{
        transform: rotate(225deg);
    }

    /* Show menu */
    .menu-wrap .toggler:checked ~ .menu1 {
        visibility: visible;
    }

    .menu-wrap .toggler:checked ~ .menu1 > div{
        transform: scale(1);
        transition-duration: var(--menu1-speed);
    }
    .menu-wrap .toggler:checked ~ .menu1 > div > div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    .menu-wrap .menu1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 25%;
        height: 100%;
        visibility: hidden; 
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu1 > div {
        background: var(--overlay-color);
         background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .menu-wrap .menu1 > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu1 > div > div > ul > li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }

    .menu-wrap .menu1 > div > div > legend > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }

@media screen and (max-width: 900px){
    .menu-wrap .menu1 {
        width: 50%;
    }
}